html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MontserratAlternates-Medium.woff2") format("woff2");
  font-display: swap;
}
.visualli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main__section-header {
  position: relative;
  background-image: url("../img/Index/Rast/mobil-index-fon.jpg");
  background-color: #68B738;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 0 20px;
  padding-top: 27px;
  margin-bottom: 200px;
  min-height: 480px;
}
@media (min-width: 768px) {
  .main__section-header {
    padding: 0 117px;
    padding-top: 62px;
    background: none;
    text-align: left;
    margin-bottom: 350px;
  }
}
@media (min-width: 1440px) {
  .main__section-header {
    background: url("../img/Index/Rast/index-desktop-fon.jpg") no-repeat;
    background-position: right;
    background-size: contain;
  }
}
.main__section-header .program-selection__text {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .main__section-header .program-selection__text {
    color: #fff;
  }
}
.main__section-header .program-selection__link {
  width: 280px;
  margin: 0 auto;
  display: block;
}
@media (min-width: 768px) {
  .main__section-header .program-selection__link {
    position: absolute;
    top: 29px;
    left: 117px;
  }
}
.main__section-header .program-selection__image {
  margin: 0 auto;
  width: 280px;
  height: 270px;
  background-image: url("../img/Index/Rast/top-imge-mobil.png");
}
@media (min-width: 768px) {
  .main__section-header .program-selection__image {
    width: 710px;
    height: 650px;
    background-image: url("../img/Index/Rast/index-can-tablet-1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1440px) {
  .main__section-header .program-selection__image {
    width: 552px;
    height: 499px;
    background-image: url("../img/Index/Rast/index-can.png");
  }
}
.main__section-header .program-selection__wrapper-position {
  position: absolute;
  width: 100%;
  top: 70%;
  left: 0;
}
@media (min-width: 768px) {
  .main__section-header .program-selection__wrapper-position {
    top: auto;
  }
}

.title {
  color: #000;
  font-size: 36px;
  line-height: 100%;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .title {
    font-size: 60px;
  }
}

.title--index {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .title--index {
    margin-bottom: 40px;
    width: 415px;
  }
}
@media (max-width: 767px) {
  .title--index {
    color: #fff;
  }
}

.program-selection__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .program-selection__list {
    row-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .program-selection__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.program-selection__item {
  background-color: #f2f2f2;
  padding: 24px 22px;
  width: 710px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .program-selection__item {
    padding: 77px 62px 53px 57px;
  }
}
@media (min-width: 1440px) {
  .program-selection__item {
    padding: 77px 52px 59px;
    width: 570px;
  }
}

.program-selection__item-title {
  font-size: 24px;
  line-height: 154%;
  font-weight: 500;
  color: #000;
  margin: 0;
  margin-left: 69px;
  margin-bottom: 29px;
  text-transform: uppercase;
  position: relative;
  width: 140px;
}
@media (min-width: 768px) {
  .program-selection__item-title {
    font-size: 36px;
    line-height: 100%;
    width: 210px;
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .program-selection__item-title {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}
.program-selection__item-title::before {
  content: "";
  position: absolute;
  left: -69px;
  top: -6px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68B738;
}
@media (min-width: 768px) {
  .program-selection__item-title::before {
    width: 200px;
    height: 200px;
    left: 389px;
  }
}
@media (min-width: 1440px) {
  .program-selection__item-title::before {
    width: 100px;
    height: 100px;
    left: -160px;
    top: -30px;
  }
}

.item-title-slim::after {
  content: "";
  position: absolute;
  right: 166px;
  bottom: -5px;
  width: 36px;
  height: 50px;
  background-image: url("../img/Index/Vektor/cat-slim.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .item-title-slim::after {
    width: 140px;
    height: 194px;
    right: -345px;
    bottom: -138px;
    background-image: url(../img/Index/Vektor/cat-slim-tablet.svg);
  }
}
@media (min-width: 1440px) {
  .item-title-slim::after {
    width: 70px;
    height: 97px;
    right: 283px;
    bottom: -26px;
    background-image: url(../img/Index/Vektor/cat-slim-desctop.svg);
  }
}

.item-title-weight::after {
  content: "";
  position: absolute;
  right: 152px;
  bottom: 3px;
  width: 67px;
  height: 29px;
  background-image: url("../img/Index/Vektor/cat-pro.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .item-title-weight::after {
    width: 269px;
    height: 113px;
    right: -414px;
    bottom: -120px;
    background-image: url(../img/Index/Vektor/cat-pro-tablet.svg);
  }
}
@media (min-width: 1440px) {
  .item-title-weight::after {
    width: 134px;
    height: 56px;
    right: 256px;
    bottom: -11px;
    background-image: url(../img/Index/Vektor/cat-pro-desctop.svg);
  }
}

@media (min-width: 768px) {
  .program-selection__item-description {
    width: 340px;
    margin-bottom: 53px;
  }
}

.program-selection__item-link {
  position: relative;
  color: inherit;
  text-transform: uppercase;
  width: 134px;
  display: block;
}
@media (min-width: 768px) {
  .program-selection__item-link {
    font-size: 20px;
    width: 161px;
  }
}
.program-selection__item-link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 32px;
  height: 10px;
  background-image: url("../img/Index/Vektor/icon_arrow.svg");
}

.mode-of-action__list {
  counter-reset: action;
}
@media (min-width: 768px) {
  .mode-of-action__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px 140px;
    margin-right: 65px;
  }
}
@media (min-width: 1440px) {
  .mode-of-action__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 84px;
    margin: 0;
  }
}

.mode-of-action__item {
  position: relative;
  min-width: 280px;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 26px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .mode-of-action__item {
    min-height: 230px;
    min-width: 250px;
    padding: 0;
    padding-top: 111px;
    padding-right: 5px;
  }
  .mode-of-action__item::after {
    content: counter(action);
    counter-increment: action;
    position: absolute;
    font-size: 280px;
    line-height: 100%;
    font-weight: 400;
    color: rgba(255, 29, 29, 0.6588235294);
    top: -39px;
    right: 0;
    z-index: -1;
  }
}

.mode-of-action__item--leaf {
  position: relative;
}
.mode-of-action__item--leaf::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/Index/Vektor/leaf-icon.svg");
}
@media (min-width: 768px) {
  .mode-of-action__item--leaf::before {
    width: 80px;
    height: 80px;
  }
}

.mode-of-action__item--tub {
  position: relative;
}
.mode-of-action__item--tub::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/Index/Vektor/tub-icon.svg");
}
@media (min-width: 768px) {
  .mode-of-action__item--tub::before {
    width: 80px;
    height: 80px;
  }
}

.mode-of-action__item--eat {
  position: relative;
}
.mode-of-action__item--eat::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/Index/Vektor/eat-icon.svg");
}
@media (min-width: 768px) {
  .mode-of-action__item--eat::before {
    width: 80px;
    height: 80px;
  }
}

.mode-of-action__item--alarm {
  position: relative;
}
.mode-of-action__item--alarm::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/Index/Vektor/alarm-icon.svg");
}
@media (min-width: 768px) {
  .mode-of-action__item--alarm::before {
    width: 80px;
    height: 80px;
  }
}

.example {
  padding: 25px 0 40px;
  background-color: #f2f2f2;
}

@media (min-width: 1440px) {
  .example-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 0;
  text-align: center;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .example__list {
    grid-template-columns: 1fr 1fr 320px;
    margin-bottom: 80px;
    margin-top: 54px;
  }
}
.example__list .example__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 14px 8px;
  border: 1px solid #cdcdcd;
}
.example__list .example__namber {
  color: #000;
  font-size: 24px;
  line-height: 100%;
}
.example__list .example__description {
  font-size: 12px;
  line-height: 100%;
  margin: 0;
}

.example__description-text {
  grid-column: 1/-1;
  color: #000;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__description-text {
    grid-column: auto;
    justify-self: end;
    width: 142px;
    text-align: end;
  }
}

.example__images {
  text-align: center;
}

.example__image {
  display: none;
}

.example__image--active {
  display: block;
}

.example__slider {
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  padding: 0 35px;
  align-items: center;
}

.slider__button {
  font-size: inherit;
  border: none;
  text-transform: uppercase;
}

.slider__toggler {
  position: relative;
  display: flex;
  justify-content: center;
  height: 14px;
  padding: 3px 5px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  box-sizing: border-box;
}
.slider__toggler::after {
  content: "";
  position: absolute;
  justify-content: center;
  height: 6px;
  min-width: 50%;
  background-color: #68B738;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .slider__toggler {
    display: none;
  }
}

.slider--left .slider__toggler {
  justify-content: left;
}

.slider--right .slider__toggler {
  justify-content: right;
}

@media (max-width: 767px) {
  .slider__range {
    display: none;
  }
}

.header {
  padding-top: 23px;
}
@media (min-width: 768px) {
  .header {
    padding-top: 42px;
  }
}
@media (min-width: 1440px) {
  .header {
    padding-top: 69px;
  }
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .main-nav {
    justify-content: space-between;
  }
}
.main-nav .main-nav__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .main-nav .main-nav__wrapper {
    width: max-content;
  }
}
.main-nav .main-nav__list {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin: 10px auto;
  z-index: 2;
}
@media (max-width: 767px) {
  .main-nav .main-nav__list {
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: #68B738;
  }
}
@media (min-width: 768px) {
  .main-nav .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    justify-content: space-between;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .main-nav .main-nav__list {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav__item--activ {
    position: relative;
  }
  .main-nav__item--activ::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #68B738;
  }
}
.main-nav__toggle {
  position: relative;
  width: 24px;
  height: 16px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: 24px;
  height: 2px;
  background-color: #000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__link {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  display: block;
}
@media (max-width: 767px) {
  .main-nav__link {
    padding: 24px;
    border-top: 1px solid #e6e6e6;
    color: #e6e6e6;
  }
}
@media (min-width: 768px) {
  .main-nav__link {
    padding: 10px 0;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav--nojs .main-nav__item--activ a {
  padding-right: 21px;
  padding-left: 21px;
}

.page {
  font-family: "Oswald";
  font-size: 14px;
  line-height: 128%;
  font-weight: 400;
}
@media (min-width: 768px) {
  .page {
    font-size: 16px;
  }
}

.page__body {
  color: #444;
}

.container-center {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .container-center {
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container-center {
    margin: 0 90px;
  }
}

.footer {
  background-color: #f2f2f2;
}

.button {
  color: #fff;
  background-color: #68B738;
  display: inline-block;
  border: none;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
}

.contacts {
  position: relative;
}

.contacts__wrepper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f2f2f2;
  margin: 26px 0;
}
@media (min-width: 1440px) {
  .contacts__wrepper {
    position: absolute;
    z-index: 10;
    top: 95px;
    padding: 56px 80px;
    grid-template-columns: 163px 155px;
    background-color: #fff;
  }
}
.contacts__wrepper .contacts__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  text-transform: uppercase;
  margin: 0;
}
.contacts__wrepper .contacts__addres {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 143%;
  margin: 0;
}

.contacts__wrepper--index {
  background-color: #fff;
}

.contacts__map {
  height: 400px;
  width: 100%;
}
@media (max-width: 767px) {
  .contacts__map {
    height: 360px;
  }
}

@media (min-width: 768px) {
  .catalog-cards {
    margin-top: 163px;
    margin-bottom: 68px;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 44px;
  justify-items: center;
}
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 141px 70px;
  }
}
@media (min-width: 1440px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 143px 80px;
  }
}

.cards__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 13px 0;
}
.cards__item .cards__imge {
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
}
.cards__item .card__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .cards__item .card__list {
    margin-bottom: 42px;
  }
}
@media (min-width: 768px) {
  .cards__item {
    display: flex;
    flex-direction: column;
    width: 324px;
    padding: 38px;
    padding-top: 161px;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .cards__item {
    width: 245px;
  }
}

@media (min-width: 768px) {
  .cards__imge--min {
    position: absolute;
    top: -45px;
    width: 161px;
    height: 172px;
  }
}

@media (min-width: 768px) {
  .cards__imge--big {
    position: absolute;
    top: -73px;
    width: 168px;
    height: 206px;
  }
}
@media (min-width: 1440px) {
  .cards__imge--big {
    width: 172px;
    height: 201px;
  }
}

.card__heading {
  font-family: "Montserrat", sans-serif;
  line-height: 125%;
  font-size: 16px;
  text-transform: uppercase;
  color: #222;
  align-self: center;
  text-align: center;
}
@media (min-width: 768px) {
  .card__heading {
    font-size: 20px;
    width: 160px;
    margin-bottom: 21px;
  }
}

.card__definition {
  font-size: 12px;
  line-height: 133%;
  margin: 0;
  justify-self: end;
}

.card__button {
  display: inline-block;
  grid-column: 1/3;
  justify-self: center;
}
@media (max-width: 767px) {
  .card__button {
    width: 280px;
  }
}

.show-more {
  background-color: #fff;
  display: flex;
  text-align: center;
  border: 2px solid #f2f2f2;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .show-more {
    border-left: none;
    border-right: none;
  }
}
.show-more .show-more__description {
  width: 100%;
}
.show-more .show-more__text {
  width: 100%;
}
.show-more .shoe-more__button {
  border: none;
  padding: 10px;
  width: 100%;
}
@media (max-width: 767px) {
  .show-more .shoe-more__button {
    width: 280px;
  }
}

@media (min-width: 1440px) {
  .catalog-additional {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.catalog-additional__title {
  color: #222;
  font-size: 24px;
  line-height: 100%;
}
@media (min-width: 768px) {
  .catalog-additional__title {
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__title {
    grid-column: 1/3;
  }
}

.catalog-additional__list {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 1440px) {
  .catalog-additional__list .catalog-additional__item {
    display: flex;
    justify-content: space-between;
  }
}
.catalog-additional__list .additional-card__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #222;
}
@media (min-width: 768px) {
  .catalog-additional__list .additional-card__heading {
    font-size: 20px;
  }
}
.catalog-additional__list .additional-card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  .catalog-additional__list .additional-card__list {
    width: 288px;
  }
}
.catalog-additional__list .catalog-additional__button {
  width: 100%;
}
@media (min-width: 1440px) {
  .catalog-additional__list .catalog-additional__button {
    width: 244px;
  }
}

.additional-card__definition {
  margin: 0;
}

.promo {
  background: #757575 url("../img/Catalog/Rast/fon-dop-mobil.jpg");
  padding: 40px;
}
.promo .promo__text {
  color: #fff;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
}

.field-group__list,
.field,
.field__input {
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .form__basis-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

@media (min-width: 1440px) {
  .owner-data .field-group__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .owner-data :first-child {
    grid-column: 1/3;
  }
}

.commentari__field {
  width: 100%;
  resize: none;
}

@media (min-width: 768px) {
  .additionally {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
  }
  .additionally .field-group__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    grid-column: 1/3;
  }
}
@media (min-width: 1440px) {
  .additionally .field-group__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 81px;
  }
}

/*# sourceMappingURL=style.css.map */
