.example{
    padding: 25px 0 40px;
    background-color: $color-fon;

    .title{
        @media (min-width: $width-tablet){
            margin-bottom: 63px;
        }
    }
}

.example-inner{
    @media (min-width: $width-desvtop){
        display: grid;
        grid-template-columns: 440px 1fr;
        column-gap: 195px;
    }
}

.example__text{
    margin-bottom: 20px;

    @media (min-width: $width-tablet){
        margin-bottom: 54px;
    }

    @media (min-width: $width-desvtop){
        margin-bottom: 69px;
    }

}

.example__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin: 0;
    text-align: center;
    border-radius: 4px;

    @media(min-width: $width-tablet){
        grid-template-columns: 1fr 1fr 320px;
        margin-bottom: 80px;
    }

    @media (min-width: $width-desvtop){
        grid-template-columns: 1fr 1fr;
    }

    .example__item{
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        padding: 14px 8px;
        border: 1px solid #cdcdcd;
    }


    .example__namber{
        color: $color-basics-title;
        font-size: 24px;
        line-height: 100%;
    }

    .example__description{
        font-size: 12px;
        line-height: 100%;
        margin: 0;
    } 
}

.example__description-text{
    grid-column: 1/-1;
    color: $color-basics-title;
    font-size: 14px;
    line-height: 143%;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;

    @media (min-width: $width-tablet){
        grid-column: auto;
        justify-self: end;
        font-size: 20px;
        width: 180px;
        text-align: end;
    }

    @media (min-width: $width-desvtop){
        grid-column: 1/-1;
        margin: 0;
        justify-self: center;
        width: auto;
    }
}

.example__images{
    text-align: center;
}

.example__image{
    display: none;
}

.example__image--active{
    display: block;
}

.example__img{
    @media (min-width: $width-tablet){
        height: 511px;
        width: auto;
    }
}

.example__slider{
    display: grid;
    grid-template-columns: 49px 1fr 49px;
    padding: 0 35px;
    align-items: center;

    @media (min-width: $width-desvtop){
        grid-template-columns: 70px 1fr 70px;
        grid-column: 2/-1;
    }
}

.slider__button{
    font-size: inherit;
    border: none;
    text-transform: uppercase;
}

.slider__toggler{
    position: relative;
    display: flex;
    justify-content: center;
    height: 14px;
    padding: 3px 5px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    box-sizing: border-box;

    &::after{
        content: "";
        position: absolute;
        justify-content: center;
        height: 6px;
        min-width: 50%;
        background-color: $bg-button;
        border-radius: 6px;
    }

    @media (min-width: $width-tablet){
        display: none;
    }
}

.slider--left .slider__toggler{
    justify-content: left;
}

.slider--right .slider__toggler{
    justify-content: right;
}

.slider__range{
    @media (max-width: $mobile-width-only){
        display: none;
    }
}