.main__section-header{
    position: relative;
    background-image: url("../img/Index/Rast/mobil-index-fon.jpg");
    background-color: $bg-button;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 0 20px;
    padding-top: 27px;
    margin-bottom: 200px;
    min-height: 480px;

    @media (min-width: $width-tablet){
        padding: 0 117px;
        padding-top: 62px;
        background: none;
        text-align: left;
        margin-bottom: 350px;
    }

    @media (min-width: $width-desvtop){
        &::after{
            content: "";
            position: absolute;
            top: -120px;
            right: 0;
            width: 50%;
            height: 100%;
            z-index: -1;
            background: url("../img/Index/Rast/index-desktop-fon.jpg") no-repeat;
            background-position: right;
            background-size: cover;
        }
    }

    .program-selection__text{
        text-transform: uppercase;

        @media(max-width: $mobile-width-only){
            color: $color-title;
        }
    }

    .wrapper-image{
        margin: 0;
        text-align: center;
    }

    .program-selection__link{
        width: 280px;
        margin: 0 auto;
        display: block;

        @media (min-width: $width-tablet){
            position: absolute;
            top: 29px;
            left: 117px;
        }
    }

    .program-selection__wrapper-position{
        position: absolute;
        width: 100%;
        top: 70%;
        left: 0;

        @media (min-width: $width-tablet){
            top: auto;
        }
    }
}

.title{
    color: $color-basics-title;
    font-size: 36px;
    line-height: 100%;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 40px;

    @media (min-width: $width-tablet){
        font-size: 60px;
    }
}

.title--index{
    margin-bottom: 25px;

    @media (min-width: $width-tablet){
        margin-bottom: 40px;
        width: 415px;
    }

    @media(max-width: $mobile-width-only){
    color: $color-title;
    }
}

@import "program-selection";
@import "mode-of-action";
@import "example";