.mode-of-action{

    .title{
        @media (min-width: $width-tablet){
            margin-bottom: 72px;
        }
    }
}

.mode-of-action__list{
    counter-reset: action;

    @media (min-width: $width-tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 70px 140px;
        margin-right: 65px;
    }

    @media (min-width: $width-desvtop){
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 84px;
        margin: 0;
    }
}

.mode-of-action__item{
    position: relative;
    min-width: 280px;
    min-height: 60px;
    padding-left: 80px;
    margin-bottom: 26px;
    box-sizing: border-box;

    @media (min-width: $width-tablet){
        min-height: 230px;
        min-width: 250px;
        padding: 0;
        padding-top: 111px;
        padding-right: 5px;

        &::after{
            @include style-after;
        }
    }
}

.mode-of-action__item--leaf{
    position: relative;

    &::before{
        @include bef-action-item;
        background-image: url("../img/Index/Vektor/leaf-icon.svg");

    }
}

.mode-of-action__item--tub{
    position: relative;

    &::before{
        @include bef-action-item;
        background-image: url("../img/Index/Vektor/tub-icon.svg");

    }
}

.mode-of-action__item--eat{
    position: relative;

    &::before{
        @include bef-action-item;
        background-image: url("../img/Index/Vektor/eat-icon.svg");
    }
}

.mode-of-action__item--alarm{
    position: relative;

    &::before{
        @include bef-action-item;
        background-image: url("../img/Index/Vektor/alarm-icon.svg");

    }
}