.catalog-additional{
    @media (min-width: $width-desvtop){
        display: grid;
        grid-template-columns: 1fr 245px;
        column-gap: 80px;
    }
}

.catalog-additional__title{
    color: $color-card-t;
    font-size: 24px;
    line-height: 100%;

    @media (min-width: $width-tablet){
        font-size: 36px;
    }

    @media (min-width: $width-desvtop){
        grid-column: 1/3;
    }
}

.catalog-additional__list{
    display: grid;
    grid-template-columns: 1fr;

    .catalog-additional__item{
        @media (min-width: $width-desvtop){
            display: flex;
            justify-content: space-between;
        }
    }

    .additional-card__heading{
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        line-height: 125%;
        text-transform: uppercase;
        color: $color-card-t;

        @media (min-width: $width-tablet){
            font-size: 20px;
        }
    }

    .additional-card__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (min-width: $width-desvtop){
            width: 288px;
        }
    }

    .catalog-additional__button{
        width: 100%;

        @media (min-width: $width-desvtop){
            width: 244px;
        }
    }
}

.additional-card__definition{
    margin: 0;
}

.promo{
    background: #757575 url("../img/Catalog/Rast/fon-dop-mobil.jpg");
    padding: 40px;

    .promo__text{
        color: #fff;
        font-size: 16px;
        line-height: 125%;
        text-align: center;
    }
}