.contacts{
    position: relative;
}

.contacts__wrepper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $color-fon;

    @media (min-width: $width-desvtop){
        position: absolute;
        top: 95px;
        padding: 56px 80px;
        grid-template-columns: 163px 155px;
        background-color: #fff;
    }

    .contacts__text{
        font-size: 16px;
        line-height: 125%;
        color: $color-basics-title;
        text-transform: uppercase;
    }

    .contacts__addres{
        font-size: 14px;
        line-height: 143%;
    }
}

.contacts__wrepper--index{
    background-color: #fff;
}

.contacts__map{
    height: 362px;
    background: url("../img/footer/location-map-mobil.jpg");
}