.contacts{
    position: relative;
}

.contacts__wrepper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $color-fon;
    margin: 26px 0;

    @media (min-width: $width-desvtop){
        position: absolute;
        z-index: 10;
        top: 95px;
        padding: 56px 80px;
        grid-template-columns: 163px 155px;
        background-color: #fff;
    }

    .contacts__text{
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        line-height: 125%;
        color: $color-basics-title;
        text-transform: uppercase;
        margin: 0;
    }

    .contacts__addres{
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        line-height: 143%;
        margin: 0;
    }
}

.contacts__wrepper--index{
    background-color: #fff;
}

.contacts__map{
    height: 400px;
    width: 100%;

    @media (max-width: $mobile-width-only){
        height: 360px;
    }
}