.header{
    position: relative;
    padding-top: 23px;

    @media (min-width: $width-tablet){
        padding-top: 42px;
    }

    @media (min-width: $width-desvtop){
        padding-top: 69px;
    }
}

.catalog-header{
    @media (min-width: $width-desvtop){
        &::after{
            content: "";
            position: absolute;
            top: -70px;
            right: -90px;
            width: 70%;
            height: 900px;
            z-index: -1;
            background: url("../img/Catalog/Rast/top-fon-desctop.jpg") no-repeat;
            background-position: top;
            background-size: cover;
        }
    }
}

.form-header{
    @media (min-width: $width-desvtop){
        &::after{
            content: "";
            position: absolute;
            top: -70px;
            right: -90px;
            width: 70%;
            height: 900px;
            z-index: -1;
            background: url("../img/Form/Rast/form-header-Desc.webp") no-repeat;
            background-position: top;
            background-size: contain;
        }
    }
}

.main-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    @media (min-width: $width-tablet){
        justify-content: space-between;
    }

    .main-nav__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $width-tablet){
            width: max-content;
        }
    }
    
    .main-nav__list{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin: 10px auto;
        z-index: 2;

        @media (max-width: $mobile-width-only){
        position: absolute;
        top: 30px;
        width: 100%;
        background-color: $bg-button;
        }

        @media (min-width: $width-tablet){
            display: flex;
            flex-wrap: wrap;
            width: 440px;
            justify-content: space-between;
            margin: 0;
        }

        @media (min-width: $width-desvtop){
            width: 480px;
        }
    }
}

@media (max-width: $mobile-width-only) {
    .main-nav--closed .main-nav__list {
      display: none;
    }
    
    .main-nav--closed .main-nav__list {
      display: none;
    }
  }

@media (min-width: $width-tablet){
    .main-nav__item{
        &--activ{
            position: relative;
    
            &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 2px;
            background: $bg-button;
            }
        }
    }
}

.main-nav__toggle{
    position: relative;
    width: 24px;
    height: 16px;
    background-color: inherit;
    border: none;
    cursor: pointer;

    @media (min-width: $width-tablet){
        display: none;
    }
}

.main-nav--closed .main-nav__toggle::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}

.main-nav--opened .main-nav__toggle{
    &::before,
    &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: 24px;
    height: 2px;
    background-color: #000;
    }

    &::before{
        transform: rotate(45deg);
        box-shadow: none;
    }

    &::after {
        transform: rotate(-45deg);
    }
}


.main-nav__link{
    text-transform: uppercase;
    color: $color-basics-title;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    display: block;
    
    @media (max-width: $mobile-width-only){
    padding: 24px;
    border-top: 1px solid #e6e6e6; 
    color: #e6e6e6;
    }

    @media (min-width: $width-tablet){
        padding: 10px 0;
        }

    @media (min-width: $width-desvtop){
        color: #e6e6e6;
    }  
}

.main-nav--nojs .main-nav__toggle {
    display: none;
  }

.main-nav--nojs .main-nav__list {
    position: static;
    min-height: 0;
}

.main-nav--nojs .main-nav__item {
    display: block;
}

.main-nav--nojs .main-nav__item--activ a {
    padding-right: 21px;
    padding-left: 21px;
}